Rcatch22
tidyr
hash
ggplot2
dplyr
rJava
ggpubr
gridExtra
stringr
RColorBrewer
cowplot
ggfittext
plotly
Rlab
PearsonDS
e1071
gsl
R.matlab
htmlTable
DT
kableExtra
corrplot
reshape2
here
numDeriv
pracma
ggrepel
